<div class="navbar navbar-fixed-top">
        <div class="navbar inner">
        <div class="container-fluid">
            <div class="opaque">
            <a href="/" title="Restcat by Videntity"
               rel="home"><img class="logo" src="{{ STATIC_URL }}images/layout/restcat-logo-by-videntity.png"
                               height="60"
                               alt="Restcat by Videntity" /></a>
            <ul class="nav">
                <li><a href="/">Home</a></li>

                <li><a href="{{ find_docs_here  }}" target="_blank" >Documentation</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>










