{% load i18n %}
<ul class="nav nav-pills">
  <li class="active">
    <a href="/">{% trans "Home" %}</a>
  </li>
  {% if not user.is_authenticated %}
  <li><a href="/risk-assessments/hello">{% trans "Take the Risk Assessment" %}</a></li>
  {% endif %}
  <li><a href="/pharmacy/find/{{patient.patient_id}}">{% trans "Find a Screening Location" %}</a></li>
  {% if user.is_authenticated %}
      <li><a href="/accounts/account">{% trans "Account" %}</a></li>
      <li><a href="/accounts/logout">{% trans "Logout" %}</a></li>
  {% else %}
      <li><a href="/accounts/login">{% trans "Login" %}</a></li>
      
      {% if  patient.patient_id %}
      <li><a href="/accounts/signup/{{patient.patient_id}}">{% trans "Signup" %}</a></li>
      {% endif %}
  {% endif %}
    
  
</ul>










