{% extends "base.html" %}
{% block content %}

{% load i18n %}
<div class="hero-unit">
  <h1>{% trans "Thanks for completing the initial assessment." %}</h1>
  <h4>{% trans "Would you us to help you find a location that offers blood pressure and cholesterol screens?" %}</h4>
 
  <p>
    <a class="btn btn-primary btn-large btn-block" href="/pharmacy/find/{{patient.patient_id}}">
      {% trans "Yes. Help Me Find a Screening Location" %}
    </a>
<a class="btn btn-primary btn-block btn-large" href="/dashboard/{{patient.patient_id}}">
      {% trans "No Thanks. Show Me My Risk Now" %}
    </a>
    
  </p>
</div>


{% endblock %}