{% extends "base.html" %}

{% block content %}

{% load i18n %}
<div class="hero-unit">
  <img alt="{% trans "Be Heart Smart Logo" %}" src="{{ STATIC_URL }}img/beheartsmart.png">
  
   <h2> {% trans "Your Appointment is on " %}: </h2>
   <h3>{{patient.followup_date}}.</h3>
   <h5>{% trans "Walk-in between 9AM and 8PM." %} </h5>
  
 <p>
    <a class="btn btn-primary btn-large" href="/pharmacy/directions/{{origin}}/{{destination}}"  target="_blank">
      {% trans "Get Directions to " %} {{location_name}}
    </a>
  </p>

  
  <h2>Coupon</h2>
  
  
  
  
  <h4>{% trans "Blood Pressure and Cholesterol Check for $20." %}</h4>
  
  <p>
    <a class="btn btn-primary btn-large" href="/dashboard/{{patient.patient_id}}">
      {% trans "Continue to Your Risk Assessment" %}
    </a>
  </p>
  
  
</div>


{% endblock %}

