{% extends "base.html" %}
{% block content %}

{% load i18n %}
<div class="hero-unit">
  <h1>{% trans "Locations Near You" %}</h1>
<h5>
      <table class="table table-hover">
      
        <tr>
          <td>{% trans "Distance" %}</td>
          <td>{% trans "Address" %}</td>
          <td>{% trans "Schedule" %}</td>
         </tr>
    </h5>
<h7>
     {% for i in result.surescripts.providers  %}
      <tr>
        <td>{{ i.distance|floatformat }} mi.</td>
        <td>
        <address>
        <strong>{{ i.name }}</strong><br>
                <a href="/pharmacy/directions/{{ result.home.ea }}/{{ i.ea }}" target="_blank">
                {{i.address1}}<br>
                {{i.city}} {{i.state}}, {{ i.zip }}<br>
                </a>
      <abbr title="Phone">P:</abbr> ({{ i.phone|slice:"0:3"  }}) {{ i.phone|slice:"3:6"  }} - {{ i.phone|slice:":4"  }}
        </address>
        
       </td>
        <td><a class="btn btn-medium btn-primary" href="/pharmacy/schedule/{{ result.home.ea }}/{{ i.ean }}/{{ patient.patient_id }}">{% trans "Plan a Heart Risk Screen" %}</a></td>
      </tr>
      {% endfor %}
    </h7>
        <caption>{% trans "These locations offer cholesterol and blood pressure screens. Many offer a coupon when you schedule online." %}</caption>
    </table>
  


{% endblock %}