{% extends "base.html" %}
{% block pretitle %}{% endblock %}
{% block extra_head %}


{% endblock %}

{% block bodyclassmodify %}{% endblock %}

{% block middle %}

<div class="restcat-main">
   <img src="{{ STATIC_URL }}avprofile.png" alt="Hi!" />
   <h1>Welcome to Restcat</h1>
   
   <p>This server is meant to be accessed via API, but you can still perform
      some actions using a standard web browser.  Below are links to some
      common tasks. Be sure to review the
      <a HREF="{{ find_docs_here  }}" target="_blank">full documentation</a>.</p>
   

   
   <h1>User Operations</h1>
   <p>NOTE: Your application will normally authenticate to the API using using HTTP authentication.
   If you are just testing things out and using a browser then <a href="/accounts/login">login here</a> first.
   Create/read/update/delete actions on User can also be accomplished in the <a href="/admin">admin</a>
   </p>
   <ul>
        <li><a href="/accounts/login">Login: /accounts/login</a></li>
        <li><a href="/accounts/logout">Logout: /accounts/logout</a></li>
        <li><a href="/accounts/create">Create a user: /accounts/create</a></li>
   </ul>
   

</div>

{% endblock %}