{% extends "base.html" %}
{% block content %}

{% load i18n %}
<div class="hero-unit">
  <h1>{% trans "Be Heart Smart" %}</h1>
  <p>{% trans "Are you at risk for heart disease? Don't Know?  We are here to help you learn your level of risk so you can do something about it." %}</p>
  <p>{% trans "Make a plan to live a longer and healthier life. Do it for family. Do it for friends. Do it for you! Ready to get started?" %}</p>
  <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/hello">
      {% trans "Take the Risk Assessment" %}
    </a>
  </p>
</div>


{% endblock %}