{% extends "base.html" %}
{% block content %}

{% load i18n %}
<div class="hero-unit">
  <h1>{% trans "Be Heart Smart" %}</h1>
  <h4>{% trans "Are you at risk for heart disease? We are here to help you find out your level of risk. When you know your risk you can do something about it." %}</h4>
  <h4>{% trans "Make a plan to live a longer and healthier life. Do it for family. Do it for friends. Do it for you! Ready to get started?" %}</h4>
  <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/hello">
      {% trans "Take the Risk Assessment" %}
    </a>
  </p>
   <h7>DISCLAIMER: This product and the risk assessment scores it produces have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</h7>
  
</div>


{% endblock %}