{% extends "base.html" %}
{% block content %}


<div class="hero-unit">
  <h1>Dashboard</h1>
  <p>Complete All of the tasks below or <a href ="/accounts/signin">sign in</a> to fetch your previous information.</p>
  <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/archimedes">
      Basic Info
    </a>
  </p>
  
     <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/archimedes">
      Family History
    </a>
  </p>
  
  
  
  <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/archimedes">
      Blood Pressure
    </a>
  </p>
   <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/archimedes">
      Cholesterol
    </a>
  </p>
   
   <p>
    <a class="btn btn-primary btn-large" href="/risk-assessments/archimedes">
      Follow-up
    </a>
  </p>
     


  
  
</div>



{% endblock %}