{% extends "base.html" %}

    {% block extra_head %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Risk', {{age_risk}}],
        
        ]);

        var options = {
          width: 800, height: 240,
          min: 0,
          max: 5,
          redFrom:  3, redTo: 5,
          yellowFrom:2, yellowTo: 3,
          greenFrom: 0, greenTo: 2,
          minorTicks: 1
        };

        var chart = new google.visualization.Gauge(document.getElementById('risk_chart_div'));
        chart.draw(data, options);
      }
    </script>



<script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['BMI', {{ bmi }}],
        
        ]);

        var options = {
         min: 10,
         max: 40,
         width: 400, height: 240,
         greenFrom: 18.6, greenTo: 24.9,
         redFrom: 25, redTo: 40,
         yellowFrom:10, yellowTo: 18.5,
         minorTicks: 2
        };

        var chart = new google.visualization.Gauge(document.getElementById('bmi_chart_div'));
        chart.draw(data, options);
      }
    </script>



     {% endblock %}

{% block content %}

 
<div class="hero-unit">
  

  <h1>Your risk is {{age_risk}} out of 5. </h1>
  
  <div id='risk_chart_div'></div>
  
  <h4>The lowest risk category is 1 and the highest is 5.
  {% if age_risk > 2 %}
     At {{ age_risk }}, you are at elevated risk. We encourage you to seek out a medical professional for an assessment.
  {% endif%}
  {% if patient.framingham_risk %}
    You have a {{ patient.framingham_risk }} chance of having heart disease in the next 10 years.
  {% endif %}
  {% if not patient.blood_pressure_complete %}
      {% if not patient.cholesterol_complete %}
           {% if cvdrisk_upper_age %}
               {% if cvdrisk_lower_age %}
                  Since you have not yet provided us with your blood pressure and cholesterol numbers, your actual risk could be
                  anywhere between {{cvdrisk_lower_age}} - {{cvdrisk_upper_age}}.
                  Complete these sections for a more exact risk assessment.
               {% endif %}
           {% endif %}
      
           Although the blood pressure and cholesterol numbers are most important,
           please complete all of the information below.
           
    If you need your blood pressure and cholesterol checked we can <a HREF="/pharmacy/find">help you find it at a participating nearby pharmacy.</a>
      {% endif %}
  {% endif %}
  {% if not user.is_authenticated %}
  You can <a HREF="/accounts/signup/{{patient.patient_id}}">create an account
  so you can retrieve your information later.</a> 
  {% endif %}
  
  </h4>
  

<p>
    
    {% if patient.blood_pressure_complete %}
       <a class="btn btn-success btn-large" href="/risk-assessments/blood-pressure/{{patient.patient_id}}">
      Blood Pressure
    </a>
       
    {% else %}
    
    <a class="btn btn-warning btn-large" href="/risk-assessments/blood-pressure/{{patient.patient_id}}">
      Blood Pressure
    </a>
    
    {% endif %}
    
    {% if patient.cholesterol_complete %}
       <a class="btn btn-success btn-large" href="/risk-assessments/cholesterol/{{patient.patient_id}}">
           Cholesterol
        </a>
    {% else %}
    <a class="btn btn-warning btn-large" href="/risk-assessments/cholesterol/{{patient.patient_id}}">
           Cholesterol
        </a>  
    {% endif %}



  {% ifequal patient.diabetes "yes" %}
   
    
    {% if patient.diabetes_complete %}
      <a class="btn btn-success btn-large" href="/risk-assessments/diabetes/{{patient.patient_id}}">
      Diabetes
    </a>
      {% else %}
       <a class="btn btn-warning btn-large" href="/risk-assessments/diabetes/{{patient.patient_id}}">
      Diabetes
    </a>
    {% endif %}    
    
  {% endifequal %}
   
    
    {% if patient.more_complete %}
       <a class="btn btn-success btn-large" href="/risk-assessments/more/{{patient.patient_id}}">
    Additional Information
    </a>
      {% else %} 
        <a class="btn btn-warning btn-large" href="/risk-assessments/more/{{patient.patient_id}}">
    Additional Information
    </a>
    {% endif %}
  
  
  
  

    {% if patient.basic_info_complete %}
           <a class="btn btn-success btn-large" href="/risk-assessments/basic-info/{{patient.patient_id}}">
      Basic Information
    </a>
    {% else %}
    <a class="btn btn-warning btn-large" href="/risk-assessments/basic-info/{{patient.patient_id}}">
      Basic Information
    </a>
    {% endif %}
    
    {% if not user.is_authenticated %}
    
       <a class="btn btn-success btn-large" HREF="/accounts/signup/{{patient.patient_id}}">
           Create Account
        </a>
    {% else %}
    <a class="btn btn-warning btn-large" href="/accounts/account/">
           Account
        </a>  
    {% endif %}
    
    
  </p>

  <h4>We have some <a href="/dashboard/recommendations/{{patient.patient_id}}">additional information and recommendations for you.</a></h4>
    


<p>
<h2>You are {{ progress_percent }}% complete.<h2>
<div class="progress progress-info progress-striped">
<div class="bar" style="width: {{ progress_percent }}%"></div>
</div>
  </p>     




</div>






{% endblock %}